body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container-fluid{
  background-color: #edf1fa;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;

  background: #edf1fa;
  color: #f8f9fa;
  
}

.lefties{
  padding-left: 15px;
}

.middle{

}

.righties{
  align-items: right;
}


.hamburger{
  width: 30px;
  height: 30px;
}

.header__logo {
  width: 50px;
  height: 20px;
  
}

.folder{
  color: #343a40;
}


/* Navbar Iconos de la derecha */

nav{
  align-items: right;
}

/* Search Bar */

.search-bar {

  padding: 10px;
  border: none;
  border-radius: 20px;
  font-size: 1em;
  width: 400px;
  
}




.cart-icon {
  font-size: 1.5em;
}

.main__edges{
  font-size: small;
  padding-top: 30px;
  color: gray;
  
}

.main__sidebar {
  width: 80%;
  background: #F6F5F2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.sidebar a {
  display: inline;
  margin-bottom: 10px;
  color: #343a40;
  text-decoration: none;
}


.main__box-spaces{
  
  
}

/* Filter box */
.main__up-bar{
  padding: 5px;
  background-color: #F6F5F2;
  font-size: 14px;

}

.main__spacer{
  height: 30px;
}

.selected{
  padding-top: 10px;
  align-items: right;
}

.little{
  font-size: small;
  color: gray;
  padding-top: 15px;
  align-items: right;
}

.icons{
  padding-top: 15px;

}


/* PRODUCTS BOXES */


.row__boxes{
  background-color: #F6F5F2;
  padding: 20px;
}

.product-grid {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  
}


.product {
  display: inline;
  flex-direction: column;
  justify-content: space-between;
  background: #f8f9fa;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  font-size: small;
  
}

.product-image img{
  width: 100%;
  height: 200px;
  background: #343a40;
  border-radius: 10px;
  margin-bottom: 10px;
}

.product-name {
  font-size: 1.5em;
  color: #343a40;
}

.product-category{
  font-size: small;
  color:gray;
}

.specification-stock i{
  color: green;
}

.product-specifications {
  display: inline;
  justify-content: space-between;
  margin-bottom: 10px;
}

.product-price {
  font-size: 1.7em;
  color: #f5b811;
}

.stars{
  width: 130px;
  height: 30px;
  padding-top: 3px;

}

.checked {
  color: orange;
}

.specification-promo{
  font-size: 0,8em;
  color: gray;
}

.specification-shipping{
  padding-top: 10px;
}

.specification-stock{
  padding: 4px;
}


.main__specification--favourite{
  background-color: white;
  border-radius: 10px;
  margin: 4px;
  border-color: white;
}

.main__specification--cart{
  background-color: rgb(8, 119, 223);
  color: white;
  border-radius: 10px;
  border-color: rgb(8, 119, 223) ;
  margin: 4px;
}

.separate{
  height: 3px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #f8f9fa;
  color: #343a40;
  text-align: center;
  padding: 10px;
}
