body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container-fluid{
  background-color: #edf1fa;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  background: #edf1fa;
  color: #f8f9fa;
}

.header__logo {
  font-size: 2em;
  color: #0d6efd;
}

.search-bar {
  padding: 10px;
  border: none;
  border-radius: 20px;
  font-size: 1em;
  width: 40%;
  align-items: left;
}

.cart-icon {
  font-size: 1.5em;
}

.main__edges{
  font-size: small;
  padding-top: 30px;
  
}

.main__sidebar {
  width: 80%;
  background: #F6F5F2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.sidebar a {
  display: inline;
  margin-bottom: 10px;
  color: #343a40;
  text-decoration: none;
}


.main__box-spaces{
  padding: 20px;
  background-color: #F6F5F2;
}

.main__up-bar{
  padding: 5px;
  background-color: #F6F5F2;
}

.main__spacer{
  height: 20px;
}

.product-grid {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.product {
  display: inline;
  flex-direction: column;
  justify-content: space-between;
  background: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.product-image img{
  width: 100%;
  height: 200px;
  background: #343a40;
  border-radius: 10px;
  margin-bottom: 10px;
}

.product-name {
  font-size: 1.5em;
  color: #343a40;
}

.specification i{
  color: green;
}

.product-specifications {
  display: inline;
  justify-content: space-between;
  margin-bottom: 10px;
}

.product-price {
  font-size: 1.2em;
  color: #343a40;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #f8f9fa;
  color: #343a40;
  text-align: center;
  padding: 10px;
}
