body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #5e6e82;
  text-align: center;
  background-color: #edf2f9;
}

main{
  display: block;
}

.content{
  min-height: 100vh;
  position: relative;

}

.navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  background: #edf1fa;
  color: #f8f9fa;
  width: 100%;
}

.navbar-toggle-icon{
  position: relative;
  height: 0.12rem;
  width: 1.25rem;
  transition: all 0.2s ease-in-out;
  display: block;
  padding-right: 0;
}

.logo{
  font-weight: 1000;
  font-size: 1rem;
  margin-left: -100px;
}

.logo__span{
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.search-box{
  position: relative;
  width: 21rem;
  font-size: 1em;
}

.search-bar {
  padding: 10px;
  border: none;
  border-radius: 20px;
  width: 100%;
}

.cart-icon {
  font-size: 1.5em;
}

.main__edges{
  font-size: small;
  padding-top: 30px;
  
}

.main__sidebar {
  width: 80%;
  background: #F6F5F2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.sidebar a {
  display: inline;
  margin-bottom: 10px;
  color: #343a40;
  text-decoration: none;
}


.main__box-spaces{
  padding: 20px;
}

.main__up-bar{
  padding: 5px;
}

.main__spacer{
  height: 20px;
}

/* PRODUCTS BOXES */

.product-grid {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.product {
  display: inline;
  flex-direction: column;
  justify-content: space-between;
  background: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.product-image img{
  width: 100%;
  height: 200px;
  background: #343a40;
  border-radius: 10px;
  margin-bottom: 10px;
}

.product-name {
  font-size: 1.5em;
  color: #343a40;
}

.specification i{
  color: green;
}

.product-specifications {
  display: inline;
  justify-content: space-between;
  margin-bottom: 10px;
}

.product-price {
  font-size: 1.2em;
  color: #f5b811;
}

.main__specification--favourite{
  background-color: white;
  border-radius: 10px;
  margin: 4px;
}

.main__specification--cart{
  background-color: rgb(8, 119, 223);
  color: white;
  border-radius: 10px;
  margin: 4px;
}



.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #f8f9fa;
  color: #343a40;
  text-align: center;
  padding: 10px;
}
